<div class="container">
    <div class="card">
      <div class="card-header">
        <h4>Lista general de pagos</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Cliente</th>
              <th scope="col">Estrategia Pago</th>
              <th scope="col">Tipo Pago</th>
              <th scope="col">Total Pagado</th>
            </tr>
          </thead>
          <tbody *ngFor=" let pago of pagos | paginate: { itemsPerPage: 8, currentPage: pageActual}">
            <tr>
              <th>{{pago.cliente.nombre}}</th>
              <th>{{pago.totalOrden}}</th>
              <th>{{pago.id}}</th>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
      </div>
    </div>
  </div>