<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Lista general de ordenes preparadas</h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Número Orden</th>
            <th scope="col">Mesa</th>
            <th scope="col">Platos ordenados</th>
            <th scope="col">Tiempo de preparación</th>
          </tr>
        </thead>
        <tbody *ngFor=" let orden of ordenes | paginate: { itemsPerPage: 8, currentPage: pageActual}">
          <tr>
            <th>{{orden.id}}</th>
            <th>{{orden.mesa.id}}</th>
            <th scope="row"><li *ngFor="let plato of obtenerPlatos(orden.ordenesPersonales)">{{plato.nombre}}</li></th>
            <th scope="row"><li *ngFor="let plato of obtenerPlatos(orden.ordenesPersonales)">{{plato.tiempoCoccion}}</li></th>
            <!-- <th scope="row">{{cliente.tiempoLLegada}} </th>
            <th scope="row">{{cliente.tiempoConsumo}} </th> -->
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
  </div>
</div>