<!-- <div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Estadisticas generales Platos mas vendidos</h4>
        </div>
        <div class="card-body">
            <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th>Nombre plato</th>
                        <th scope="col">Número de veces solicitado</th>
                      </tr>
                    </thead>
                    <tbody *ngFor=" let plato of platosOrdenados | paginate: { itemsPerPage: 8, currentPage: pageActual}">
                      <tr>
                        <th>{{plato.nombre}}</th>
                        <th>{{plato.cantidad}}</th>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
        </div>
    </div>
</div> -->
<!-- PRUEBA -->
<!-- <div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>ID Dia trabajo</th>
      </tr>
    </thead>
    <tbody *ngFor="let dia of diasTrabajo">
      <tr>
        <td scope="row">{{dia.id}}</td>
      </tr>
      <div class="container" *ngFor="let orden of dia.ordenes">
        <p>{{orden.id}}</p>
        <div class="container" *ngFor="let ordenpersonal of orden.ordenesPersonales">
          <div class="container" *ngFor="let platoOrdenado of ordenpersonal.platosOrdenados">
            <p>{{platoOrdenado.plato.nombre}}</p>
            <p>{{platoOrdenado.plato.tipoPlato | titlecase}}</p>
          </div>
        </div>
      </div>
    </tbody>
  </table>
</div> -->