<ul class="nav nav-pills nav-fill" >

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="formulario">Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="clientes">Clientes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="cocina">Cocina</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="caja">Caja </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="mesero">Mesero</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="mesas">Mesas</a>
      </li>
    

</ul>
